@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
 background-color: #121F3D;
 font-family: 'Roboto', sans-serif;
 color: #EFF3F8;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
form {
  background-color: #97C93E;
  padding-inline: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 60%;
  min-height: 40vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img {
  border-radius: 5px;
}

img:hover {
  width: 102%;
}
input {
  height: 2rem;
  margin: 5px;
  border-radius: 5px;
  border: 0;
  outline: none;
  width: 100%;
}
button {
  margin: 2rem;
}
#resultado {
  margin-bottom: 1rem;
}